doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/nvshen/css/nvshen.css')
    script(src='/nvshen/js/jquery-2.0.0.min.js')
    script(src='/nvshen/js/me.js')
    script(src='/nvshen/js/Girl.js')
    script(src='/nvshen/js/uiHand.js')
    script(src='/nvshen/js/nvshen.js') 
  body
    div.wraper
      div.header
        div.head
          img
        p.name
      div.bar
        div.cen
          img
      div.list
        div.girlone.sample
          img
          p
          div.mani
            input.like(type="button")
            input.dislike(type="button")
            input.hate(type="button")
