doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/nvshen/css/nvshen.css')
    script(src='/nvshen/js/jquery-2.0.0.min.js')
    script(src='/nvshen/js/me.js')
    script(src='/nvshen/js/Girl.js')
    script(src='/nvshen/js/uiHand.js')
    script(src='/nvshen/js/nvshen.js') 
  body
    div.wraper
      div.header
        div.head
          img(alt="點擊更新信息")
        p.name
          img.nl(src='/nvshen/img/GR-line.png')
          span.cname 蘇海
          img.nr(src='/nvshen/img/GR-line.png')
      div.bar
        input.cen(type="button")
      div.list
        div.girlone.sample
          img
          div.des
            p
          div.mani
            input.like(type="button")
            input.dislike(type="button")
            input.hate(type="button")
