doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/nvshen/css/nvshen.css')
    link(rel='stylesheet', href='/nvshen/css/jquery.Jcrop.min.css')
    script(src='/nvshen/js/jquery-2.0.0.min.js')
    script(src='/nvshen/js/al.js')
    script(src='/nvshen/js/me.js')
    script(src='/nvshen/js/Girl.js')
    script(src='/nvshen/js/uiHand.js')
    script(src='/nvshen/js/nvshen.js')
    script(src='/nvshen/js/jquery.ui.widget.js')
    script(src='/nvshen/js/jquery.Jcrop.min.js')
    script(src='/nvshen/js/jquery.fileupload.js')
    script(src='/nvshen/js/jquery.iframe-transport.js')
  body
    div.wraper
      div.header
        div.head
          img(title='你的頭像，設置中更新', alt="點擊更新信息", src='./gupic/'+uname+'/'+head)
        p.name
          img.nl(src='/nvshen/img/GR-line.png')
          span.cname(title='你得暱稱喲')= nick
          img.nr(src='/nvshen/img/GR-line.png')
      div.bar
        input.cen(type="button", title='點擊添加女生')
      div.list
        div.girlone.sample
          img
          div.ranked
          div.des
            p
          div.mani
            input.like(type="button")
            input.dislike(type="button")
            input.hate(type="button")
    div.add.hide
      div.main
        div.close
          div.cross
        div.head
          canvas(height=80, width=80)
          input(type='file')
        div.gname
          input(type='text')
        div.detai
          textarea
          input(type='button')
      div.changee
        div.headiconup
          canvas(height=80, width=80)
          input(type='file', value='點擊上傳頭像')
        div.ch
          input.upnick(placeholder="更新你的暱稱")
          input.upemail(placeholder="更新你的郵箱")
        button.play
      div.setting
        p 設置
      div.logout
        p 登出
    div.moredetail.hide
      div.speak
        div.close
          div.cross
        div.nhead
          p
          img.girl
        div.splist
          div.text
            textarea
            div.endtext
        div.slmore
          div.ardown
      div.show
        div.spart
          div.girlpicup
            input(type="file", id="fileupload", name="pic")
          canvas(width='745', height='360')
        div.mpart
          p#fir
            span.now
            span of
            span.total
          p#sec
            span.girlname
          p#thi
            span.showbig
        div.bpart
          div.moveleft
          p.pic
            span.mid
          div.moveright
