doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/nvshen/css/nvshen.css')
    script(src='/nvshen/js/jquery-2.0.0.min.js')
    script(src='/nvshen/js/me.js')
    script(src='/nvshen/js/Girl.js')
    script(src='/nvshen/js/uiHand.js')
    script(src='/nvshen/js/nvshen.js')
  body
    div.wraper
      div.header
        div.head
          img(alt="點擊更新信息")
        p.name
          img.nl(src='/nvshen/img/GR-line.png')
          span.cname 蘇海
          img.nr(src='/nvshen/img/GR-line.png')
      div.bar
        input.cen(type="button")
      div.list
        div.girlone.sample
          img
          div.des
            p
          div.mani
            input.like(type="button")
            input.dislike(type="button")
            input.hate(type="button")
    div.add.hide
      div.main
        div.close
          div.cross
        div.head
          canvas(height=80, width=80)
          input(type='file')
        div.gname
          input(type='text')
        div.detai
          textarea
          input(type='button')
      div.setting
        p 設置
      div.logout
        p 註銷
    div.moredetail
      div.speak
        div.close
          div.cross
        div.nhead
          p
          img.girl
        div.splist
          div.spco
            p sample
          div.spco
            p sample
        div.slmore
          div.ardown
      div.show
        div.spart
          canvas(height: 360px, width: 745px)
        div.mpart
          div#fir
            span.now
            span of
            span.total
          div#sec
            span.girlname
          div.showbig
        div.bpart
          div.moveleft
          div.pic
            img#id
          div.moveright
