body, p, img, input{
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
}

div{
  display: block;
}

.hide{
  display: none;
}

.sample{
  display: none;
}

.close{
	-webkit-border-radius: 12px 13px 13px 12px/13px 13px 12px 12px;
	-moz-border-radius: 12px 13px 13px 12px/13px 13px 12px 12px;
	border-radius: 12px 13px 13px 12px/13px 13px 12px 12px;
	background-color: #fff;
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.11);
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.11);
	box-shadow: 1px 2px 3px rgba(0,0,0,.11);
	border: solid 1px #bfbfbf;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.06), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.06), rgba(0,0,0,0));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.06), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.06), rgba(0,0,0,0));
	background-image: linear-gradient(to top, rgba(0,0,0,.06), rgba(0,0,0,0));
  cursor: pointer;
}

.close .cross{
  background: url('../img/GR-cross.png') no-repeat;
  width: 100%;
  height: 100%;
}

.wraper{
  max-width: 1000px;
  min-width: 500px;
  margin: 0 auto;
}

.head{
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 5px solid #ff9f00;
  margin: 0 auto;
  margin-top: 25px;
}

.head img{
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

p.name{
  margin-top: 20px;
  text-align: center;
  color: #707070;
}

p.name img{
  margin:6.5px;
}

.bar{
  width: 100%;
  height: 2px;
  background-color: #dcdcdc;
  margin-top: 28px;
}

.bar input{
  display: block;
  height: 36px;
  width: 25px;
  background: url('../img/GR-star.png') no-repeat 4px 9px;
  background-color: #00b7ee;
  margin: 0px auto;
  position: relative;
  top: -5px;
  cursor: pointer;
}

.list{
  margin-top: 60px;
}

.girlone{
  width: 100%;
  height: 86px;
  margin-bottom: 40px;
}

.girlone > *{
  float: left;
}
.girlone img{
  height: 86px;
  width: 86px;
  border-left: 6px solid #f39800;
}

.des{
  height: 86px;
  width: auto;
}

p{
  word-break:break-all;
}

.mani{
  height: 86px;
  width: 150px;
  float: right;
}

.mani input{
  background: url('../img/GR-love.png') no-repeat;
  width: 22px;
  height: 19px;
  margin-top: 33.5px;
  margin-right: 4px;
  cursor: pointer;
}

.mani .like{
  background-position: 0px 0px;
}

.mani .dislike{
  background-position: -35px 0px;
}

.mani .hate{
  background-position: -69px 0px;
}

.filter{
  position: absolute;
  background-color:rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index:1;
}

.add{
  height: 350px;
  width: 295px;
  position: absolute;
  z-index: 3;
  top: 170px;
}

.add > *{
  float:left;
}

.main{
  height: 283px;
  background-color: white;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

.main .close{
  width: 25px;
  height: 25px;
  float: right;
  position: relative;
  top: -12.5px;
  left: 12.5px;
}

.main .close .cross{
  background-position:6px 6px;
  width: 100%;
  height: 100%; 
}

.main .head{
  margin-top: 30px;
}

.main .head canvas{
  width: 80px;
  height: 80px;
  border-radius:80px;
  -webkit-border-radius:80px;
  -moz-border-radius:80px;
  position:absolute;
  z-index: 2;
}

.main .head input{
  width: 80px;
  height: 80px;
  border-radius:80px;
  -webkit-border-radius:80px;
  -moz-border-radius:80px;
  position:absolute;
  z-index: 3;
  opacity: .01;
}

.gname{
  margin: 0 auto;
  margin-top: 25px;
  width: 106px;
  height: 42px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
  background-color: #ff6900;
}

.gname input{
  display: block;
  margin: 0 auto;
  padding-top: 9.5px;
  width: 85px;
  font-size: 20px;
  background-color: transparent;
  color: white;
}


.detai{
  width: 100%;
	height: 71px;
	background-color: #ff6900;
  margin-top: 25px;
}

.detai textarea{
  background-color: transparent;
  border: 0;
  outline: 0;
  resize: none;
  width: 225px;
  height: 45px;
  padding: 13px;
  border-right: 1px solid #ffa363;
  color: white;
}

.detai input{
  float: right;
  background: url('../img/GR-edit.png') no-repeat;
  height: 71px;
  width: 43px;
  background-position: 12px;
}

.setting, .logout{
  width: 144px;
	height: 42px;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,.5);
	box-shadow: 0 0 8px rgba(0,0,0,.5);
  margin-top: 10px;
  cursor: pointer;
}

.changee{
  position: absolute;
  z-index: -1;
  top: 30px;
  background-color: #566;
  width: 190px;
  height: 230px;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,.5);
	box-shadow: 0 0 8px rgba(0,0,0,.5);
  transition: left 1s;
  left: 0px;
}

.changee.active{
  transition: left 1s;
  left: 290px;
}

.setting{
	background-color: #ff6900;
  margin-right: 7px;
}

.logout{
	background-color: #f7505a;
  margin-top: 10px;
}

.setting p, .logout p{
  font-size: 20px;
  color: white;
  padding-top: 11px;
  padding-left: 52px;
}

.alert{
  background-color: #f7505a;
  position: absolute;
  z-index: 10;
  height: 50px;
}

.alert .close{
  width: 17px;
  height: 17px;
  float: right;
  position: relative;
  top: -8.5px;
  left: 8.5px;
}

.alert .arrow{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 13.9px 8px 0;
  border-color: transparent #f7505c transparent transparent;
  position: absolute;
  left: -13px;
  top: 17px;
}

.alert .close .cross{
  background-position: 2px;
}

.alert p{
  padding: 17px;
  padding-right: 0px;
  display: inline-block;
  color: white;
}


.moredetail{
  width:1000px;
  margin: 0 auto;
  position: absolute;
  z-index:2;
}

.moredetail > *{
  float: left;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,.5);
	box-shadow: 0 0 8px rgba(0,0,0,.5);
  background-color: white;
}

.speak{
  width: 225px; 
}

.speak .close{
  width: 19px;
  height: 19px;
  float: right;
  position:relative;
  top: -10px;
  left: 10px;
}

.speak .close .cross{
  background-position: 3px;
}

.nhead{
  height: 90px;
  background-color: #ff6900;
}

.nhead p{
  font-size: 20px;
  padding: 14px;
  text-align: center;
  text-indent: 15px;
}

.nhead .girl{
  display: block;
  height: 85px;
  width: 85px;
  margin-left: 70px;
  border: 5px solid white;
  border-radius: 85px;
  background-color: #ff6900;
}

.splist{
  min-height: 238px;
  margin: 0 auto;
  margin-top: 75px;
  width: 190px;
}

.splist .spco{
  padding:7px 0px;
  border-top: 2px solid #d7d7d7;
}



.splist .spco:first-child{
  border-top: 0px solid #d7d7d7;
}

.slmore{
  height:48px;
  background-color: #ff6900;
}

.show{
  margin-left: 10px;
  width: 765px;
  height: 440px;
}

.spart{
  height: 360px;
  width: 745px;
  padding:10px;
  padding-bottom: 0px;
}

.mpart{
  height: 38px;
}

#fir{
  float:left;
}

#sec{
  margin:0 auto;
}

.showbig{
  float: right;
}

.bpart{
  height: 43px;
  background-color: #303030;
}











